# vim: syntax=sh

# LOAD PLUGINS FROM GITHUB

# start dashboard for the shell
zinit light zdharma/zsh-startify                       \
    && zstyle ":plugin:zsh-startify:vim"        size 5 \
    && zstyle ":plugin:zsh-startify:shellutils" size 5
    #&& bindkey "^A" zsh-startify

# status line for the shell
zinit light romkatv/powerlevel10k

# colorize output using the grc command
zinit light unixorn/warhol.plugin.zsh

# suggest a command based on previous history
zinit light zsh-users/zsh-autosuggestions

# highlight syntax for shell
zinit light zdharma/fast-syntax-highlighting

# alias reminder when you type a full command
zinit light michaelaquilina/zsh-you-should-use

# vim like key bindings
# zinit light jeffreytse/zsh-vi-mode

zinit light aloxaf/fzf-tab

# search a for a substring on history
zinit light zsh-users/zsh-history-substring-search     \
   && bindkey -M vicmd 'k' history-substring-search-up \
   && bindkey -M vicmd 'j' history-substring-search-down
