# vim: syntax=zsh

# LOAD PLUGINS FROM GITHUB
zinit light wfxr/forgit
zinit light zpm-zsh/clipboard
zinit light b4b4r07/emoji-cli
zinit light wookayin/fzf-fasd
zinit light wakeful/zsh-packer
zinit light zdharma/zsh-startify
zinit light romkatv/powerlevel10k
zinit light unixorn/warhol.plugin.zsh
zinit light zsh-users/zsh-autosuggestions
zinit light zdharma/fast-syntax-highlighting
zinit light zdharma/history-search-multi-word
zinit light michaelaquilina/zsh-you-should-use
# zinit light zsh-users/zsh-history-substring-search

{{- if (eq .chezmoi.os "darwin") }}
# LOAD MACOS SPECIFIC PLUGINS
#zinit snippet OMZ::plugins/osx/osx.plugin.zsh
zinit snippet OMZ::plugins/xcode/xcode.plugin.zsh
zinit snippet OMZ::plugins/iterm2/iterm2.plugin.zsh
{{- end }}

{{- if (eq .chezmoi.os "linux") }}
# LOAD LINUX SPECIFIC PLUGINS
zinit snippet OMZ::plugins/ssh-agent/ssh-agent.plugin.zsh
{{- end }}
