# vim syntax=yaml
---
# CONFIGURATION FILE FOR GO-JIRA

endpoint: "{{ .jira.prod_url }}"
password-name: "email/work"
password-source: "pass"

# https://github.com/go-jira/jira
custom-commands:
  - name: "mine"
    help: "display issues assigned to me"
    script: |-
      if [ -n "$JIRA_PROJECT" ]; then
          \{\{jira\}\} list --template table --query "resolution = unresolved and assignee=currentuser() and project = $JIRA_PROJECT ORDER BY priority asc, created"
      else
          \{\{jira\}\} list --template table --query "resolution = unresolved and assignee=currentuser() ORDER BY priority asc, created"
      fi
  - name: "sprint"
    help: "display issues for active sprint"
    script: |-
      if [ -n "$JIRA_PROJECT" ]; then
          \{\{jira\}\} list --template table --query "sprint in openSprints() and type != epic and resolution = unresolved and project=$JIRA_PROJECT ORDER BY rank asc, created"
      else
          \{\{jira\}\} list --template table --query "sprint in openSprints() and type != epic and resolution = unresolved ORDER BY rank asc, created"
      fi
