{{- if (eq .chezmoi.hostname "mbpm4p") }}
---

github:
  token: {{ (bitwardenFields "item" .bw.mbpm4p.id).GitHubToken.value }}

keys:
  tab: tab
  quit: ctrl+c
  enter: enter
  refresh: ctrl+r
  live_mode: ctrl+l  # toggle live mode on/off
  switch_tab_left: ctrl+h
  switch_tab_right: ctrl+l

settings:
  live_mode:
    enabled: false # enable live mode at startup
    interval: 15s  # refresh interval for live updates
{{- end }}

# vim: et ts=2 sts=2 sw=2 syntax=yaml
