# vim: syntax=sshconfig

# SSH CONFIGURATIONS
Host *
    UserKnownHostsFile    /dev/null
    StrictHostKeyChecking no

Host github.com
    User                  git
    IdentityFile          ~/.ssh/id_rsa_git

{{- if (eq .computer.type "work") }}
# ADD WORK ONLY CONFIGURATIONS
{{- end }}
