# vim: syntax=sshconfig

Host mbam1.github.com
    User                     git
    Hostname                 github.com
    IdentityFile             ~/.config/ssh/id_github_mbam1
    IdentitiesOnly           yes
    PreferredAuthentications publickey

{{- if (eq .chezmoi.hostname "mbpm4p") }}
Host mbpm4p.github.com
    User                     git
    Hostname                 github.com
    IdentityFile             ~/.config/ssh/id_github_mbpm4p
    IdentitiesOnly           yes
    PreferredAuthentications publickey
{{- end }}

{{- if (eq .chezmoi.hostname "mbpm4m") }}
Host mbpm4m.github.com
    User                     git
    Hostname                 github.com
    IdentityFile             ~/.config/ssh/id_github_mbpm4m
    IdentitiesOnly           yes
    PreferredAuthentications publickey
{{- end }}
