# vim: syntax=yaml

---
# SPOTIFY ACCOUNT AUTHENTICATION

port: 8888
device_id: ~
client_id: {{ (bitwardenFields "item" "1b4d1581-161e-420e-8e92-acfb011b2344").ClientId.value }}
client_secret: {{ (bitwardenFields "item" "1b4d1581-161e-420e-8e92-acfb011b2344").ClientSecret.value }}
