# vim: syntax=gitconfig

[ghq]
    root = "~/Code"
[gpg]
    program = "gpg2"
[user]
    name       = "{{ .user.name }}"
    email      = "{{ .user.email }}"
    signingkey = "{{ .user.gpg_id }}"
[core]
    pager  = "delta"
    editor = "nvim"
[delta]
    features               = "side-by-side line-numbers decorations"
    syntax-theme           = "gruvbox-dark"
    whitespace-error-style = 22 reverse
[commit]
    gpgsign = true
[github]
    user = "hidetoxin"
