# vim: syntax=gitconfig

{{- if (eq .chezmoi.hostname "mbam2") }}
[user]
    name    = "{{ (bitwarden "item" .bw.mbam2.id).identity.firstName }} {{ (bitwarden "item" .bw.mbam2.id).identity.middleName }}"
    email   = "{{ (bitwarden "item" .bw.mbam2.id).identity.email }}"
    signkey = "{{ (bitwardenFields "item" .bw.mbam2.gpg).Id.value }}"

[commit]
    gpgsign = true

[github]
    user = "{{ (bitwarden "item" .bw.mbam2.id).identity.username }}"

[url "ssh://git@mbam2.github.com/"]
	insteadOf = "https://github.com/"
[url "ssh://git@mbam2.github.com/"]
	insteadOf = "ssh://git@github.com/"

[url "ssh://git@mbam2gitlab.com/"]
	insteadOf = "https://gitlab.com/"
[url "ssh://git@mbam2.gitlab.com/"]
	insteadOf = "ssh://git@gitlab.com/"

[url "ssh://git@mbam2.bitbucket.org/"]
	insteadOf = "https://bitbucket.org/"
[url "ssh://git@mbam2.bitbucket.org/"]
	insteadOf = "ssh://git@bitbucket.org/"

[url "ssh://git@mbam2.codeberg.org/"]
	insteadOf = "https://codeberg.org/"
[url "ssh://git@mbam2.codeberg.org/"]
	insteadOf = "ssh://git@codeberg.org/"
{{- end }}
