# vim: syntax=gitconfig

[ghq]
    root = "~/Code"

[gpg]
    program = "gpg2"

[pull]
    rebase = true

[core]
    pager  = "delta"
    editor = "nvim"

[delta]
    features               = "side-by-side line-numbers decorations"
    syntax-theme           = "gruvbox-dark"
    whitespace-error-style = "22 reverse"

[includeIf "gitdir:~/.local/share/chezmoi/"]
    path = "~/.config/git/config-mbam1"

[ingludeIf "gitdir:~/Code/mbam1.github.com/"]
    path = "~/.config/git/config-mbam1"

{{ if (eq .chezmoi.hostname "mbam2") }}
[ingludeIf "gitdir:~/Code/mbam2.github.com/"]
    path = "~/.config/git/config-mbam2"
{{ end }}

{{ if (eq .chezmoi.hostname "mbpm4m") }}
[includeIf "gitdir:~/Code/mbpm4m.github.com/"]
    path = "~/.config/git/config-mbpm4m"
{{ end }}
