# vim: syntax=gitconfig

[user]
    name    = "{{ (bitwarden "item" .bw.mbam1.id).identity.firstName }} {{ (bitwarden "item" .bw.mbam1.id).identity.middleName }}"
    email   = "{{ (bitwarden "item" .bw.mbam1.id).identity.email }}"
    signkey = "{{ (bitwardenFields "item" .bw.mbam1.gpg).Id.value }}"

[commit]
    gpgsign = true

[github]
    user = "{{ (bitwarden "item" .bw.mbam1.id).identity.username }}"

[url "ssh://git@mbam1.github.com/"]
	insteadOf = "https://github.com/"
[url "ssh://git@mbam1.github.com/"]
	insteadOf = "ssh://git@github.com/"

[url "ssh://git@mbam1gitlab.com/"]
	insteadOf = "https://gitlab.com/"
[url "ssh://git@mbam1.gitlab.com/"]
	insteadOf = "ssh://git@gitlab.com/"

[url "ssh://git@mbam1.bitbucket.org/"]
	insteadOf = "https://bitbucket.org/"
[url "ssh://git@mbam1.bitbucket.org/"]
	insteadOf = "ssh://git@bitbucket.org/"

[url "ssh://git@mbam1.codeberg.org/"]
	insteadOf = "https://codeberg.org/"
[url "ssh://git@mbam1.codeberg.org/"]
	insteadOf = "ssh://git@codeberg.org/"
