# vim: syntax=gitconfig

{{- if (eq .chezmoi.hostname "mbpm3") }}
[user]
    name    = "{{ (bitwarden "item" .bw.mbpm3.id).identity.firstName }} {{ (bitwarden "item" .bw.mbpm3.id).identity.middleName }}"
    email   = "{{ (bitwarden "item" .bw.mbpm3.id).identity.email }}"
    signkey = "{{ (bitwardenFields "item" .bw.mbpm3.gpg).Id.value }}"

[commit]
    gpgsign = true

[github]
    user = "{{ (bitwarden "item" .bw.mbpm3.id).identity.username }}"

[url "https://github"]
    insteadOf = "git://mbpm3.github"

[url "https://gitlab"]
    insteadOf = "git://mbpm3.gitlab"

[url "https://bitbucket"]
    insteadOf = "git://mbpm3.bitbucket"
{{- end }}
