# vim:syntax=toml

# Global configuration
name          = ""
signature     = """
--
Regards,
"""
downloads-dir = "~/.cache/himalaya"

# Personal mail configuration
[self]
default = true
email = ""

imap-host       = "127.0.0.1"
imap-port       = 1143
imap-login      = ""
imap-starttls   = true
imap-passwd-cmd = "pass show email/self"

smtp-host       = "127.0.0.1"
smtp-port       = 1025
smtp-login      = ""
smptpstarttls   = true
smtp-passwd-cmd = "pass show email/self"
