[job_builder]
update            = all
exclude           = .*:manual:./development
recursive         = False
ignore_cache      = True
include_path      = .:scripts:~/git/
allow_duplicates  = False
keep_descriptions = False

[prod]
url                = {{ .jenkins.prod_url | replace "https://" "" }}
user               = {{ .jenkins.username }}
password           = {{ .jenkins.prod_token }}
query_plugins_info = False

[preprod]
url                = {{ .jenkins.preprod_url | replace "https://" "" }}
user               = {{ .jenkins.username }}
password           = {{ .jenkins.preprod_token }}
query_plugins_info = False
