[job_builder]
update            = all
exclude           = .*:manual:./development
recursive         = False
ignore_cache      = True
include_path      = .:scripts:~/git/
allow_duplicates  = False
keep_descriptions = False

[prod]
url                = {{ .jenkins.prod.url | replace "https://" "" }}
user               = {{ .jenkins.prod.user }}
password           = {{ .jenkins.prod.token }}
query_plugins_info = False

[preprod]
url                = {{ .jenkins.preprod.url | replace "https://" "" }}
user               = {{ .jenkins.preprod.user }}
password           = {{ .jenkins.preprod.token }}
query_plugins_info = False
