# vim: syntax=conf

# SET PLUGINS
set -g @plugin "wfxr/tmux-power"
    set -g @tmux_power_theme "#98971a"
    set -g @tmux_power_date_format "%d-%b-%Y"
    # set -g @tmux_power_show_upload_speed true
    # set -g @tmux_power_show_web_reachable true
    # set -g @tmux_power_show_download_speed true
    set -g @tmux_power_prefix_highlight_pos "LR"
set -g @plugin "tmux-plugins/tpm"
set -g @plugin "morantron/tmux-fingers"
set -g @plugin "alkindi42/tmux-bitwarden"
    set -g @bw-key "u"
    set -g @bw-session "BW_SESSION"
    set -g @bw-copy-to-clipboard "on"
set -g @plugin "tmux-plugins/tmux-sidebar"
    set -g @sidebar-tree-width "100"
    set -g @sidebar-tree-position "right"
    set -g @sidebar-tree-command "exa --git --icons --git-ignore --color=always -alTI .git"
set -g @plugin "tmux-plugins/tmux-sensible"
set -g @plugin "tmux-plugins/tmux-sessionist"
set -g @plugin "tmux-plugins/tmux-pain-control"
set -g @plugin "tmux-plugins/tmux-prefix-highlight"

# USE XDG CONVENTION PATHS
set-environment -g TMUX_PLUGIN_MANAGER_PATH "$XDG_CACHE_HOME/tpm"

# CONFIG TMUX OPTIONS
unbind C-b
set-option -g prefix `
bind-key ` send-prefix

# START PLUGINS
run "$XDG_CACHE_HOME/tpm/tpm/tpm"

{{ if (eq .chezmoi.os "linux") }}
# SETUP DEFAULT SHELL
set-option -g default-shell "ZDOTDIR=$ZDOTDIR /home/linuxbrew/.linuxbrew/bin/zsh"
{{ end }}
