# vim: syntax=yaml
---

model: gemini:gemini-2.5-pro
theme: dark
editor: nvim
highlight: true
keybindings: vi
save_session: null
compress_threshold: 2048

# Custom REPL left/right prompts, see https://github.com/sigoden/aichat/wiki/Custom-REPL-Prompt for more details
left_prompt:
  '{color.green}{?session {?agent {agent}>}{session}{?role /}}{!session {?agent {agent}>}}{role}{?rag @{rag}}{color.cyan}{?session )}{!session >}{color.reset} '
right_prompt:
  '{color.purple}{?session {?consume_tokens {consume_tokens}({consume_percent}%)}{!consume_tokens {consume_tokens}}}{color.reset}'

{{- if (or (eq .chezmoi.hostname "mbpm4p") (eq .chezmoi.hostname "mbpm4m")) }}
clients:

  - type: github
    name: copilot
    models:
      - name: gpt-4o
      - name: gpt-3.5-turbo

{{- if (eq .chezmoi.hostname "mbpm4p") }}
  - type: google-ai
    name: gemini
    api_key: '{ (bitwardenFields "item" .bw.mbpm4p.id).GeminiToken.value }}'
    models:
      - name: gemini-2.5-pro
{{- end }}
{{- end }}
