board:
  id: 24548
  name: "AZ Devops - scrum board"
  type: "scrum"
epic:
  name: "customfield_11101"
  link: "customfield_11100"
installation: "Local"
issue:
  types:
  - id: 1
    name: "Bug"
    handle: ""
    subtask: false
  - id: 5
    name: "Sub-task"
    handle: ""
    subtask: true
  - id: 6
    name: "Epic"
    handle: ""
    subtask: false
  - id: 7
    name: "Story"
    handle: ""
    subtask: false
  - id: 11
    name: "Test"
    handle: ""
    subtask: false
  - id: 10007
    name: "Risk"
    handle: ""
    subtask: false
  - id: 10207
    name: "Issue"
    handle: ""
    subtask: false
  - id: 10707
    name: "Enabler"
    handle: ""
    subtask: false
  - id: 10708
    name: "Spike"
    handle: ""
    subtask: false
  - id: 12007
    name: "Feature"
    handle: ""
    subtask: false
  - id: 14007
    name: "Production Bug"
    handle: ""
    subtask: false
  - id: 14607
    name: "Test Xray"
    handle: ""
    subtask: false
  - id: 14608
    name: "Test Set Xray"
    handle: ""
    subtask: false
  - id: 14609
    name: "Test Execution Xray"
    handle: ""
    subtask: false
  - id: 14610
    name: "Pre-Condition Xray"
    handle: ""
    subtask: false
  - id: 14612
    name: "Sub Test Execution Xray"
    handle: ""
    subtask: true
  - id: 14611
    name: "Test Plan Xray"
    handle: ""
    subtask: false
project:
  key: "DEVOP"
  type: ""
login: "{{ .jira.user }}"
server: "{{ .jira.url }}"
